@charset "UTF8";

@font-face {
    font-family: 'cabeçalho';
    src: url(estilo/Mogent.otf) format(opentype);
}

@font-face {
    font-family: 'titulo';
    src: url(estilo/02_APompadourTextSample.ttf) format(truetype) url(estilo/03_APompadourBoldSample.otf) format(opentype);
}

:target {
    scroll-margin-top: 5em;  /*para ele rolar no lugar certo qnd clica num botao*/
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --corturquesa: rgb(106, 208, 255);
    --fundoBlack: #000000;
    --headerFotter: #181717;
    --fundoDestaque: #797676;
    --fundoDestaque2: #333;

    --bg-eerie-black: hsla(0, 0%, 13%, 1);

    --weight-regular: 400;
    --weight-medium: 500;

    --section-spacing: 70px;

    --border-white: hsla(0, 0%, 100%, 1);
    --border-light-gray: hsla(240, 1%, 83%, 1);
    --border-gainsboro: hsla(220, 13%, 91%, 1);
    --border-eerie-black: hsla(0, 0%, 13%, 1);
    --border-smoky-black: hsla(0, 0%, 6%, 1);

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
}

:target {
    scroll-margin-top: 5em;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
:root{
    --corturquesa: rgb(106, 208, 255);
}

@media all and (min-width: 1010px) and (max-width: 1115px) {

    .main-content .title{ /*titulo com o meu nome*/
        font-size: 2.5em;
    }
    .down p{
        font-size: 1.4em;
        width: 400px;
    }
    figure #img{
        width: 320px;
    }
    figcaption{
        top: 89%; /*alinhar em baixo da imagem*/
        left: 20%; /*alinhar no meio da imagem*/
    
        min-width: max-content;
        color: rgb(160, 159, 159);
    }
    @keyframes flutuar{
        0% {
            transform: translateY(1rem); /* Move para baixo */
        }
        50% {
            transform: translateY(-0.2rem); /* Move para cima */
        }
        100% {
            transform: translateY(1rem); /* Move para baixo */
        }
    }

    /*Os botoes de cima*/
    .tab-btn-item .tab-btn{ /*cada botao*/
        font-size: 2em;
        padding: 10px 70px;
    }
}

@media all and (min-width: 960px) and (max-width: 1009px) { 

    .main-content .title{ /*titulo com o meu nome*/
        font-size: 2.5em;
    }
    .down p{
        font-size: 1.4em;
        width: 350px;
    }
    #minhafoto{ /*minha imagem*/
        margin-left: -20px;
    }
    figure #img{
        width: 320px;
        margin: 10px;
    }
    figcaption{
        top: 89%; /*alinhar em baixo da imagem*/
        left: 20%; /*alinhar no meio da imagem*/
    
        min-width: max-content;
        color: rgb(160, 159, 159);
    }
    @keyframes flutuar{
        0% {
            transform: translateY(1rem); /* Move para baixo */
        }
        50% {
            transform: translateY(-0.2rem); /* Move para cima */
        }
        100% {
            transform: translateY(1rem); /* Move para baixo */
        }
    }

    /*Os botoes de cima*/
    .tab-btn-item .tab-btn{ /*cada botao*/
        font-size: 2em;
        padding: 10px 50px;
    }
}

@media all and (min-width: 870px) and (max-width: 959px) { /*para tablets grandes*/ 

    .main-content .title{ /*titulo com o meu nome*/
        font-size: 2em;
    }
    .title span{ /*subtitulo*/
        font-size: 0.7em;
    }
    .down{
        display: block;
        text-align: left;
        margin: auto;
    }
    .down a img{
        width: 15px;
    }
    .down p{
        font-size: 1.4em;
        width: 350px;
    }
    #minhafoto{ /*minha imagem*/
        margin-left: -20px;
    }
    figure #img{
        width: 320px;
        margin: 10px;
    }
    figcaption{
        top: 89%; /*alinhar em baixo da imagem*/
        left: 20%; /*alinhar no meio da imagem*/
    
        min-width: max-content;
        color: rgb(160, 159, 159);
    }
    @keyframes flutuar{
        0% {
            transform: translateY(1.1rem); /* Move para baixo */
        }
        50% {
            transform: translateY(0rem); /* Move para cima */
        }
        100% {
            transform: translateY(1.1rem); /* Move para baixo */
        }
    }

    /*Os botoes de cima*/
    .tab-btn-item .tab-btn{ /*cada botao*/
        font-size: 2em;
        padding: 10px 50px;
    }

    /*tabela 1 e 2*/
    .img-holder img{
        width: 380px;
    }
    /*tabela 1*/
    .about-list {                /*a ul*/
        display: block;
    }
    .about-list li{
        text-align: left;
    }
    .about-list p{
        margin-top: 10px;
    }
}

@media all and (min-width: 800px) and (max-width: 869px) { /*para tablets medios*/ 

    .main-content .title{ /*titulo com o meu nome*/
        font-size: 2em;
    }
    .title span{ /*subtitulo*/
        font-size: 0.7em;
    }
    .down{
        display: block;
        text-align: left;
        margin: auto;
    }
    .down a img{
        width: 15px;
    }
    .down p{
        font-size: 1.4em;
        width: 350px;
    }
    #minhafoto{ /*minha imagem*/
        margin-left: -20px;
    }
    figure #img{
        width: 320px;
        margin: 10px;
    }
    figcaption{
        top: 89%; /*alinhar em baixo da imagem*/
        left: 20%; /*alinhar no meio da imagem*/
    
        min-width: max-content;
        color: rgb(160, 159, 159);
    }
    @keyframes flutuar{
        0% {
            transform: translateY(1.1rem); /* Move para baixo */
        }
        50% {
            transform: translateY(0rem); /* Move para cima */
        }
        100% {
            transform: translateY(1.1rem); /* Move para baixo */
        }
    }

    /*Os botoes de cima*/
    .tab-btn-item .tab-btn{ /*cada botao*/
        font-size: 2em;
        padding: 10px 35px;
    }

    /*tabelas de dentro*/
    .tab-content {               
        padding: 20px;
    }

    #tabela1, #tabela2, #tabela3{
        margin-top: 2%;
        margin-bottom: 0%;
    }

    /*tabela 1 e 2*/
    .img-holder img{
        width: 450px;
        margin: auto;
    }

    /*tabela 1*/
    .tabelas {    
        display: block;
        text-align: center;
        margin: 0px 50px;
    }
    .tab-content .primeiro-title{      /*primeiro titulo*/
        margin-bottom: 1%; margin-top: 2%;
    }
    
    /*tabela 2*/
    .habilidades{                 /*texto 2 sobre aprendizado*/
        display: block;
        text-align: center;
        margin: 0px 50px;
    }
}

@media all and (min-width: 660px) and (max-width: 799px) { /*para tablets pqnos*/ 

    .main-content{
        padding: 0%;
    }
    .main-content section{
        flex-direction: column-reverse;
        text-align: center;
    }
    .main-content .title{ /*titulo com o meu nome*/
        font-size: 2.1em;
        line-height: 1.2;
        margin-top: 2%;
        text-align: center;
    }
    .title span{ /*subtitulo*/
        font-size: 0.8em;
    }

    .down{
        display: block;
        text-align: center;
        margin: auto;
    }
    .down a img{
        width: 15px; 
    }
    .down p{
        font-size: 1.1em;
    }
    #minhafoto{ /*minha imagem*/
        margin-left: 0%; margin: 0%;
    }
    figure #img{
        width: 320px;
        margin: 10px;
    }
    figcaption{
        top: 92%; /*alinhar em baixo da imagem*/
        left: 20%; /*alinhar no meio da imagem*/
    
        min-width: max-content;
        color: rgb(160, 159, 159);
    }
    @keyframes flutuar{
        0% {
            transform: translateY(1rem); /* Move para baixo */
        }
        50% {
            transform: translateY(1rem); /* Move para cima */
        }
        100% {
            transform: translateY(1rem); /* Move para baixo */
        }
    }

    /*Os botoes de cima*/
    .tab-btn-item .tab-btn{ /*cada botao*/
        font-size: 1.7em;
        padding: 10px 25px;
    }

    /*tabelas de dentro*/
    .tab-content {               
        padding: 20px;
    }

    #tabela1, #tabela2, #tabela3{
        margin-top: 2%;
        margin-bottom: 0%;
    }

    /*tabela 1 e 2*/
    .img-holder img{
        width: 450px;
        margin: auto;
    }

    /*tabela 1*/
    .tabelas {    
        display: block;
        text-align: center;
        margin: 0px 50px;
    }
    .tab-content .primeiro-title{      /*primeiro titulo*/
        margin-bottom: 1%; margin-top: 2%;
    }
    
    /*tabela 2*/
    .habilidades{                 /*texto 2 sobre aprendizado*/
        display: block;
        text-align: center;
        margin: 0px 50px;
    }
    .habilid-text{                  /*texto 1 sobre mim*/
        font-size: 1.1em;
        text-align: left;
        margin: 00px;
    }
}

@media all and (min-width: 530px ) and (max-width: 659px){ /*tive que fazer outro menor*/

    .main-content{
        padding: 0%;
    }
    .main-content section{
        flex-direction: column-reverse;
        text-align: center;
    }
    .main-content .title{ /*titulo com o meu nome*/
        font-size: 2.1em;
        line-height: 1.2;
        margin-top: 2%;
        text-align: center;
    }
    .title span{ /*subtitulo*/
        font-size: 0.8em;
    }

    .down{
        display: block;
        text-align: center;
        margin: auto;
    }
    .down a img{
        width: 15px; 
    }
    .down p{
        font-size: 1.1em;
    }
    #minhafoto{ /*minha imagem*/
        margin-left: 0%; margin: 0%;
    }
    figure #img{
        width: 320px;
        margin: 10px;
    }
    figcaption{
        top: 92%; /*alinhar em baixo da imagem*/
        left: 20%; /*alinhar no meio da imagem*/
    
        min-width: max-content;
        color: rgb(160, 159, 159);
    }
    @keyframes flutuar{
        0% {
            transform: translateY(1rem); /* Move para baixo */
        }
        50% {
            transform: translateY(1rem); /* Move para cima */
        }
        100% {
            transform: translateY(1rem); /* Move para baixo */
        }
    }

    /*botoes soltos*/
    .service-card .card-title {
        font-size: 1.4em;
    }

    /*Os botoes de cima*/
    .tab-btn-item .tab-btn{ /*cada botao*/
        font-size: 1.4em;
        padding: 10px 20px;
    }

    /*tabelas de dentro*/
    .tab-content {               
        padding: 20px;
    }

    #tabela1, #tabela2, #tabela3{
        margin-top: 2%;
        margin-bottom: 0%;
    }

    /*tabela 1 e 2*/
    .img-holder img{
        width: 400px;
        margin: auto;
    }

    /*tabela 1*/
    .tabelas {    
        display: block;
        text-align: center;
        margin: 0px 35px;
    }
    .tab-content .primeiro-title{      /*primeiro titulo*/
        margin-bottom: 1%; margin-top: 2%;
    }
    
    /*tabela 2*/
    .habilidades{                 /*texto 2 sobre aprendizado*/
        display: block;
        text-align: center;
        margin: 0px 35px;
    }
    .habilid-text{                  /*texto 1 sobre mim*/
        font-size: 1.1em; /*capaz de n precisar*/
        text-align: left;
        margin: 0px;
    }
    .skill-list{
        margin: 20px 0px 30px;
    }

    /*tabela 3*/
    .card img{
        width: 4rem;
    }
    .card h3{
        font-size: 1.4em; /*capaz de n precisar*/
    }
    .card p{
        font-size: 1.1em; /*capaz de n precisar*/
    }
    .exposição .btn{ /*ver mais*/
        margin-top: 20px; margin-bottom: 20px;
    }
}

@media all and (min-width: 450px ) and (max-width: 529px) { /*para celular*/ 

    .main-content{
        padding: 0%;
        text-align: center;
    }
    .main-content section{
        flex-direction: column-reverse;
        text-align: center;
    }
    #first{
        margin: 0; padding: 20px;
    }
    .main-content .title{ /*titulo com o meu nome*/
        font-size: 2em;
        line-height: 1.2;
        margin-top: 2%; margin: 10px;
        text-align: center;
    }
    .title span{ /*subtitulo*/
        font-size: 0.8em;
    }

    .down{
        display: block;
        text-align: center;
        margin: auto;
    }
    .down a img{
        width: 15px; 
    }
    .down p{
        font-size: 1.1em;
        width: 450px;
        margin-left: 15px; margin-right: 15px;
    }
    #minhafoto{ /*minha imagem*/
        margin-left: 0%; margin: 0%;
    }
    figure #img{
        width: 320px;
        margin: 10px;
    }
    figcaption{
        top: 92%; /*alinhar em baixo da imagem*/
        left: 20%; /*alinhar no meio da imagem*/
    
        min-width: max-content;
        color: rgb(160, 159, 159);
    }
    @keyframes flutuar{
        0% {
            transform: translateY(1rem); /* Move para baixo */
        }
        50% {
            transform: translateY(1rem); /* Move para cima */
        }
        100% {
            transform: translateY(1rem); /* Move para baixo */
        }
    }

    /*botoes soltos*/
    .service-card .card-title {
        font-size: 1.1em;
    }

    /*Os botoes de cima*/
    .tab-btn-item .tab-btn{ /*cada botao*/
        font-size: 1.2em;
        padding: 10px 15px;
    }

    /*tabelas de dentro*/
    .tab-content {               
        padding: 20px;
    }

    #tabela1, #tabela2, #tabela3{
        margin-top: 2%;
        margin-bottom: 0%;
    }

    /*tabela 1 e 2*/
    .img-holder img{
        width: 350px;
        margin: auto;
    }

    /*tabela 1*/
    .tabelas {    
        display: block;
        text-align: center;
        margin: 0px 25px;
    }
    .tab-content .primeiro-title{      /*primeiro titulo*/
        margin-bottom: 1%; margin-top: 2%;
    }
    .about-list {                /*a ul*/
        display: block;
    }
    .about-list li{
        text-align: left;
    }
    .about-list .nome, .email{ /*capaz de n precisar*/
        font-size: 1.6em;
    }
    .about-list p{
        margin-top: 10px;
    }
    
    /*tabela 2*/
    .habilidades{                 /*texto 2 sobre aprendizado*/
        display: block;
        text-align: center;
        margin: 0px 25px;
    }
    .habilid-text{                  /*texto 1 sobre mim*/
        font-size: 1.1em; /*capaz de n precisar*/
        text-align: left;
        margin: 0px;
    }
    .skill-list{
        margin: 20px 0px 30px;
    }

    /*tabela 3*/
    .card img{
        width: 4rem;
    }
    .card h3{
        font-size: 1.4em; /*capaz de n precisar*/
    }
    .card p{
        font-size: 1.1em; /*capaz de n precisar*/
    }
    .exposição .btn{ /*ver mais*/
        margin-top: 20px; margin-bottom: 20px;
    }
}

@media all and (min-width: 320px ) and (max-width: 449px) { /*para celular menores*/

    header nav a{
        margin-right: 0.5em;
    }

    .main-content{
        padding: 2%;
        text-align: center;
    }
    .main-content section{
        flex-direction: column-reverse;
        text-align: center;
    }
    #first{
        margin: 0; padding: 20px 20px;
    }
    .main-content .title{ /*titulo com o meu nome*/
        font-size: 1.6em;
        line-height: 1.2;
        margin-top: 2%; margin: 15px;
        text-align: center;
    }
    .title span{ /*subtitulo*/
        font-size: 0.8em;
    }

    .down{
        display: block;
        text-align: center;
        margin: auto;
    }
    .down a{ 
        background-color: rgba(0, 255, 255, 0.219);
    }
    .down a:hover{
        background-color: rgba(0, 255, 255, 0.219);
    }
    .down a img{
        width: 15px; 
    }
    .down p{
        font-size: 1.1em;
        width: 350px;
        margin-left: 15px; margin-right: 15px;
    }
    #minhafoto{ /*minha imagem*/
        margin-left: 0%; margin: 0%;
    }
    figure #img{
        width: 320px;
        margin: 10px;
    }
    figcaption{
        top: 92%; /*alinhar em baixo da imagem*/
        left: 15%; /*alinhar no meio da imagem*/
        font-size: 0.95em;
    
        min-width: max-content;
        color: rgb(160, 159, 159);
    }
    @keyframes flutuar{
        0% {
            transform: translateY(1rem); /* Move para baixo */
        }
        50% {
            transform: translateY(1rem); /* Move para cima */
        }
        100% {
            transform: translateY(1rem); /* Move para baixo */
        }
    }

    /*tabelas do github*/
    #tabGithub{
        text-align: center;
        margin: 0%;
    }
    #tabGithub img{
        margin: 0px;
        width: 350px;
    }


    /*botoes soltos*/
    .container-service ul{
        display: block;
        columns: 2;
        align-items: center;
    }
    .container-service li{
        margin: 5px;
        text-align: center;
    }
    .service-card .card-title {
        font-size: 1.4em;
        line-height: 1;
    }


    /*Os botoes de cima*/
    .tab-btn-item .tab-btn{ /*cada botao*/
        font-size: 1.2em;
        padding: 10px 28px;
        margin-bottom: 0%;
    }


    /*tabelas de dentro*/
    .tab-content {               
        padding: 20px;
    }

    #tabela1, #tabela2, #tabela3{
        margin-top: 2%;
        margin-bottom: 0%;
    }

    /*tabela 1 e 2*/
    .img-holder img{
        width: 310px;
        margin: auto;
    }

    /*tabela 1*/
    .tabelas {    
        display: block;
        text-align: center;
        margin: 0px 5px;
    }
    .tab-content .primeiro-title{      /*primeiro titulo*/
        margin-bottom: 1%; margin-top: 4%;
        font-size: 1.7em;
    }
    .about-list {                /*a ul*/
        display: block;
    }
    .about-list li{
        text-align: left;
    }
    .about-list .nome, .email{ /*capaz de n precisar*/
        font-size: 1.6em;
    }
    .about-list p{
        margin-top: 10px;
    }
    
    /*tabela 2*/
    .habilidades{                 /*texto 2 sobre aprendizado*/
        display: block;
        text-align: center;
        margin: 0px 5px;
    }
    .habilid-title{                  /*primeiro titulo*/
        font-size: 1.7em;
    }
    .habilid-text{                  /*texto 1 sobre mim*/
        font-size: 1.1em; /*capaz de n precisar*/
        text-align: left;
        margin: 0px;
    }
    .skill-list{
        margin: 20px 0px 30px;
    }

    /*tabela 3*/
    .exposição h2{      /*primeiro titulo*/
        font-size: 1.7em;
    }
    .card img{
        width: 4rem;
    }
    .card h3{
        font-size: 1.4em; /*capaz de n precisar*/
    }
    .card p{
        font-size: 1.1em; /*capaz de n precisar*/
    }
    .exposição .btn{ /*ver mais*/
        margin-top: 20px; margin-bottom: 20px;
    }
}
